@use '../../styles/partials/fonts';

.leaderboard {
    background-image: url('../../assets/images/Spotlight_black_background.jpg');
    background-position: center;
    background-size: cover;
    height: 100vw;
    font-family: 'OpenSans';
    color: white;

    &__title {
        font-size: 24px;
        padding: 12px 0;
    }

    &__table {
        display: flex;
        justify-content: center;

        &-username {
           display: flex; 
           flex-direction: column;
           border: 1px solid black;

           &-title {
                border-bottom: 1px solid black;
                padding: 8px 24px;
           }

           &-values {
                &-item {
                    border-bottom: 1px solid black;
                    padding: 4px;
                }
           }
        }

        &-attempts {
            display: flex;
            flex-direction: column;
            border: 1px solid black;

            &-title {
                border-bottom: 1px solid black;
                padding: 8px 24px;
            }

            &-values {
                &-item {
                    border-bottom: 1px solid black;
                    padding: 4px;
                }
            }
        }

        &-word {
            display: flex;
            flex-direction: column;
            border: 1px solid black;

            &-title {
                border-bottom: 1px solid black;
                padding: 8px 24px;
            }

            &-values {
                &-item {
                    border-bottom: 1px solid black;
                    padding: 4px;
                }
            }
        }
    }

    &__scores {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-item {
            display: flex;
            justify-content: center;
        }
    }
}